.auth-inner{
    background-color: #F9F9F9;
    padding: 29px 0 52px 0;
}
.author-prev span{
font-size: 14px;
line-height: 138.2%;
color: #56698F;
margin-left: 10px;
}

.author-image{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.author-image img{
    width: 100%;
}
.author-txt p{
    font-size: 15px;
line-height: 150.2%;
text-align: justify;
color: #000000;
}
.auth-btn{
    margin-top: 35px
}
.author-txt span{
    font-weight: bold;
}
.auth-row{
    background-color: #fff;
    padding: 34px 20px 53px 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    margin-top: 21px;
}
.auth-title{
    margin-bottom: 30px;
}

@media screen and (max-width:576px){
    .author-content{
        flex-direction: column
    }
    .auth-row{
        padding: 2rem 0;
    }
    .author-image{
            justify-content: flex-start;
    }
    .author-image img{
        width: 100%;
    }
    .auth-inner{
        padding: 2rem 0.5rem;
    }
    .auth-title{
        margin: 1rem 0;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .auth-row{
        padding: 2rem 0;
    }
}