.authorization{
    background-color: #F9F9F9;
    padding: 60px 0 203px 0;
}
.author-row{
background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
    padding: 64px 244px;
   margin-top: 21px
}
.author-button{
    color: #fff;
}
.author-form{
  margin: 0 auto;
}

@media screen and (max-width:576px){
    .author-row{
        padding: 2rem
    }
    .authorization{
        padding: 2rem 1rem;
    }
    .author-btn button{
        padding: 1rem
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .author-row{
        padding: 2rem 4rem
    }
    .authorization{
        padding: 2rem 1rem 4rem 1rem;
    }
    .author-btn button{
        padding: 1rem
    }
}
