.basket-inner{
    background: #F9F9F9;
    min-height: 400px;
}
.empty-basket{
    text-align: center;
}
.basket-contents{
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    margin-bottom: 13px;
    padding: 1.5rem 0;
}
.basket-items h2{
font-size: 17px;
line-height: 138.2%;
color: #0C0C0C;
}
.basket-img img{
width: 119px;
height: 121px;
}
.basket-img{
    display: flex;
    justify-content: center;
}
.basket-items span{
   font-weight: bold;
font-size: 14px;
line-height: 21px;
color: #56698F; 
}
.baskets{
    background: #F9F9F9;
    border: 1px solid #EEEEEE;
    border-radius: 8px 0px 0px 8px;
    padding: 19px 34px 18px 24px;
    border-right: none;
}
.basket-count{
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    text-align: center;
    width: 50px;
    height: 27px;
    background-color: #fff;
}
.basket-count-btn{
    padding: 0 10px;
}
.basket-items h2{
    margin-bottom: 25px;
}

input[type=checkbox] {
	 display: none;
}
#box1{
    background: #F9F9F9!important;
border: 1px solid #EEEEEE !important;
box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 0px;
}
 input[type=checkbox] + label:before {
	 font-family: FontAwesome;
	 display: inline-block;
}
.element input[type=checkbox] + label:before {
     /* content: "\f096"; */
     content: "";
     background: #F2F2F2;
     border: 1px solid #D9D9D9;
     width: 15px;
     height: 15px;
     font-size: 19px;
}

.total-checkbox input[type=checkbox] + label:before {
    content: "\f096";
    margin-right: 10px;
}
.total-checkbox input[type=checkbox]:checked + label:before {
    content: "\f046";
}
 input[type=checkbox] + label:before {
    /* position: absolute;
    top: -1px;
    left: 60%; */
}
.total-checkbox  input[type=checkbox] + label:before {
    /* position: absolute;
    top: 0;
    left: -14px; */
}
.total-checkbox label{
    position: relative;
}
.element input[type=checkbox]:checked + label:before {
     /* content: "\f046"; */
    width: 15px;
    height: 15px;
    background-color: #FECC00;
    border: none;
}

.element input[type=checkbox]:checked + label:before {
     letter-spacing: 5px;
     background-color: #FECC00;
    border: none;
}
.basket-form{
    margin-bottom: 13px;
}
.basket-form h2{
font-size: 16px;
line-height: 108.7%;
color: #0C0C0C;
    padding: 0 10px;
    text-align: left;
}
.comment-basket h2{
        font-size: 16px;
        line-height: 108.7%;
        color: #0C0C0C;
        padding: 0 10px;
        text-align: left;
}
.basket-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.basket-form input{
width: 100%;
background: #FFFFFF;
border: 1px solid #EEEEEE!important;
box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.0778245);
border-radius: 20px;
 border: none;
 font-size: 13px;
line-height: 13px;
padding: 19px;
    outline: none;
}
.basket-form input::placeholder{
  color: #B3B3B3!important;
}
.comment-basket input{
width: 100%;
background: #FFFFFF;
border: 1px solid #EEEEEE!important;
box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.0778245);
border-radius: 20px;
border: none;
font-size: 11px;
line-height: 13px;
padding: 26px 0 23px 19px;
    outline: none;
}
.comment-basket{
    margin-bottom: 49px
}
.comment-basket input::placeholder{
  color: #B3B3B3!important;
}
.total-item h2{
    font-size: 24px;
line-height: 138.2%;
color: #0C0C0C;
padding-bottom:0.5rem; 
}
.total-item{
font-weight: bold;
font-size: 24px;
line-height: 21px;
color: #56698F;
}
.total-checkbox{
font-size: 11px;
line-height: 138.2%;
color: #0C0C0C;
padding-bottom:1rem;
display: flex;
}

.total-checkbox a{
    color: #56698F;
    font-weight: bold;
}
.continue button:focus{
    outline: none;
}
.continue{
    width: 210px;
    height: 64px; 
    background: #6D6D6D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.continue a{
border-radius: 8px;
font-size: 14px;
line-height: 16px;
color: #FFFFFF !important;
border: none;
}
.oform button{
    width: 100%;
    height: 100%;
background: #FECC00;
border-radius: 8px;
font-size: 14px;
line-height: 13px;
color: #FFFFFF;
border: none;
padding: 1rem;
}
.oform button:hover{
    background: #F3B003;
}
.continue button:hover{
background: #5e5e5e;
}
.oform button:focus{
    outline: none;
}
.total{
padding: 55px 42px 61px 48px;
background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
}
.basket-left{
    padding-left: 0;
}

@media screen and (max-width:576px){
    .basket-contents{
        flex-direction: column;
    }
    input[type=checkbox] + label:before{
        top: 33%;
    }
    .total-checkbox label {
        margin-left: 23px;
    }
    .total-btn{
        flex-direction: column;
    }
    .continue{
        width: 104%;
        height: 50px;
        margin-bottom: 10px;
    }
.basket-items h2 {
    font-size: 17px;
}
    .basket-form{
        flex-direction: column;
    }
.total {
    margin-bottom: 20px
}
    .total-item{
       
        align-items: baseline;
    }
    .total-item h2{
         margin: 0!important;
    }
    .total{
        padding: 2rem 1rem;
    }
    .continue button {
        font-size: 12px;
    }
   
    .oform button{
         font-size: 12px;
        height: 100%;
        width: 100%;
    }
    .oform{
        padding-right: 0!important
    }
    .basket-left{
    padding-left: 15px;
}
}
@media screen and (min-width:768px) and (max-width:1024px){
    .total{
        margin-bottom: 20px;
    }
    input[type=checkbox] + label:before {
        top: 38.5%;
        left: 9%;
    }
}