.slide-inner{
   height: 147px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
    background: #fff;
    position: relative;
    width: 100%;
}

.owl-item img{
    width: 60%!important;
}
.owl-brands .owl-stage{
    display: flex!important;
    align-items: center!important;
}
.carousel-img img{
    width: 100px;
    margin: 0 auto;
    /* filter: grayscale(101%) opacity(0.3); */
}
.carousel-img img:hover{
   filter: grayscale(0) opacity(1);
    transition: .5s;
}
.owl-carousel{
    height: 70px;
    position: absolute;
    top:30%;
    padding: 0 50px;
    
}
.brands-prev{
    position: absolute;
   left: 1.5rem;
    top: 4rem;
    z-index: 9;
}
.brands-prev-line{
    width: 1px;
    height: 80px;
    position: absolute;
   left: 4rem;
    top: 2rem;
    z-index: 9; 
    background: #ccc;
}
.brands-next-line{
    width: 1px;
    height: 80px;
    position: absolute;
    right: 4rem;
    top: 2rem;
    z-index: 9; 
    background: #ccc;
}
.brands-next{
    
    position: absolute; 
    right: 1.5rem;
    z-index: 9;
    top: 4rem;
}
.brands-next img{
width: 12.45px;
height: 25px;
}
.brands-prev img{
width: 12.45px;
height: 25px;
}
.line{
    width: 679px;
    height: 1px;
    background: #ccc;
margin: 46px auto 0 auto ;
}
.owl-brands .owl-item .item{
    text-align: center;
    width: 100%;
}
@media screen and (max-width:576px){
    .line{
       width: 100%; 
    }
 
}