.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul{
    background-color: #FECC00 !important;
}
.hc-offcanvas-nav a, .hc-offcanvas-nav .nav-item{
    color: #fff!important;
}
.hc-offcanvas-nav ul:first-of-type:not(:first-child)>li:first-child:not(.nav-back):not(.nav-close)>a{
    border: none !important;
}
.hc-offcanvas-nav a, .hc-offcanvas-nav .nav-item{
border: none !important;
}
.hc-offcanvas-nav h2{
    color: #fff !important;
    font-size: 22px !important;
    font-weight: bold !important;
}
.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a{
    background-color: #FECC00 !important;
}
.hc-offcanvas-nav a, .hc-offcanvas-nav .nav-item{
    font-size: 18px !important;
}
.hc-nav-trigger{
    top: -15px !important;
    padding-left: 50px !important; 
}
.hc-nav-trigger span, .hc-nav-trigger span::before, .hc-nav-trigger span::after{
    height: 2px !important;
    background: #56698F !important;
}
.hc-nav-trigger{
    color: #56698F !important;
}
.hc-offcanvas-nav a[href]:not([href="#"])>span.nav-next{
    border: none !important;
}
.hc-nav-trigger{
    z-index: 1 !important;
}