.card-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #FFFFFF;
box-shadow: 0px 2px 8px 1px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
    margin-top: 21px;
}
.card-links{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
   height: 140px;
    box-shadow: 0px 1px 1px 1px #EEEEEE;
}
.card-links img{
    width: 50%;
}

.card-links-bottom{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
     height: 140px;
      box-shadow: 0px 1px 1px 1px #EEEEEE;
}

.card-links-bottom img{
    width: 40%;
}

.card-brand{
    background-color: #F9F9F9;
    padding: 54px 0 51px 0
}

.card-links{
    filter: grayscale(101%) opacity(0.3);
}
.card-links:hover{
   filter: grayscale(0) opacity(1);
    transition: .5s;
}

.card-links-bottom{
    filter: grayscale(101%) opacity(0.3);
}
.card-links-bottom:hover{
   filter: grayscale(0) opacity(1);
    transition: .5s;
}

@media screen and (max-width:576px){
    .card-links{
        width: 33.3%;
    }
    .card-links-bottom{
        width: 33.3%;
    }
}