#product{
    background: #F9F9F9;
}
.product-title h1{
font-weight: bold;
font-size: 24px;
line-height: 138.2%;
color: #56698F;
padding: 3rem 0 0.5rem 0;
}
.slide-show{
    border-top: 1px solid #E6E6E6;
    display: flex;
    justify-content: center;
}
.product-inner{
    width: 100%;
    height: 100%;
    padding: 1rem 0 4rem 0;
}
.link-image{
width: 100%;
        display: flex;
    align-items: center;
    justify-content: center;
}
.link-image img{
    margin: 0 auto
}

.slide-show img{
width: 82.81px;
height: 89.62px;
}
.slide1{
    width: 82.81px;
height: 89.62px;
}
.slide2{
    width: 82.81px;
height: 89.62px;
}
.slide3{
    width: 82.81px;
height: 89.62px;
}
.slide4{
    width: 82.81px;
height: 89.62px;
}
.description-title h3{
font-size: 18px;
line-height: 138.2%;
color: #56698F;
padding-bottom: 1.5rem;
}
.description-content p{
font-size: 16px!important;
line-height: 138.2%!important;
text-align: justify;
color: #5E5E5E!important;
}
.description-content h6{
font-size: 16px!important;
line-height: 138.2%!important;
text-align: justify;
color:#8E8E8E !important;
}

.description-content span{
font-weight: bold;
font-size: 24px;
line-height: 21px;
text-align: left;
color: #56698F;
padding-top: 7rem;
padding-bottom: 1rem;
}
.slide-image img{
    margin: 0 auto;
    filter: grayscale(101%) opacity(0.3);
    
}
.slide-image img:hover{
    filter: grayscale(0) opacity(1);
    transition: .75s;
}


.basket-btn{
    border: none;
    padding: 0.5rem 0;
    color: #fff;
    background: #FECC00;
    border-radius: 0 0 8px 8px;
}
.basket-btn:hover{
    background: #F3B003;
}
.basket-btn:focus{
    outline: none;
}
.btn-to-basket{
    background:#FECC00;
    color: #fff !important;
    height: 40px;
    border-radius: 0px 0px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.product-descrip:hover{
     background: #F3B003;
    border-radius: 8px;
  
}
.product-descrip a:hover{
      color: #fff;
}


.product-link{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
    background: #fff;
    position: relative;
}
.product-link i{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #FECC00;
    z-index: 1 !important;
}
.slide-show{
    padding: 1rem 0;
}

.tabs-link{
    width: 100%;
    text-align: center!important;
    padding: 1rem 0!important;
    font-size: 18px;
    line-height: 138.2%;
    color: #56698F;
}
.tabs-link.active{
    background: #FECC00!important;
border-radius: 8px!important;
}
.pills-row{
    margin: 0!important;
    width: 100%
}

.pr-content{
    padding: 2rem 0;
}
.pr-content h3{
font-weight: bold;
font-size: 14px;
line-height: 138.2%;
text-align: justify;
color: #5E5E5E;
}

.pr-content p{
font-size: 14px;
line-height: 138.2%;
text-align: justify;
color: #5E5E5E;
}

.recom{
    height: 88px!important;
    margin: auto 0;
}
.recom-product{
    flex-wrap: wrap;
    padding-bottom: 3rem;
}
.products-rec{
    width: calc(23% - 0px);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.products-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;
}

.products-rec i{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #FECC00;
}
.specific {
    border-right:1px solid #C8C8C8;
}
.specific-pane{
    padding: 2rem 0
}
.specific h2{
    font-weight: bold;
font-size: 18px;
line-height: 138.2%;
color: #56698F;
    padding-bottom: 1rem;
}
.specific-item{
    margin-bottom: 20px;
}
.specific-left h4{
    font-weight: bold;
font-size: 14px;
line-height: 138.2%;
color: #5E5E5E;
}
.specific-right p{
    font-size: 14px;
line-height: 138.2%;
color: #5E5E5E;
}

.specific-2 h2{
    font-weight: bold;
font-size: 18px;
line-height: 138.2%;
color: #56698F;
    padding-bottom: 1rem;
}
.specificDiv{
    padding-bottom: 1rem
}

.specificDiv-2{
    padding-bottom: 1rem;
    padding-left: 2rem
}
.pills-product{
    background: #fff;
    margin-bottom: 50px !important;
}
#product .slick-prev:before{
    display: none!important;
}
#product .slick-next:before{
    display: none!important;
}


@media screen and (max-width:576px){
    .product-inner{
        flex-direction: column;
    }
    .description{
        padding-left: 0!important;
         padding-top:1rem!important;
    }
       
    .description-content span{
        padding-top: 2rem!important
    }
    .products-rec{
    width: 85%;
        margin: 1rem auto;
}
    .product-title h1{
        padding: 0;
    }
     .specificDiv-2{
        padding: 0!important;
    }
    .specific{
        border-right: none!important;
        border-bottom: 1px solid #C8C8C8;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .product-inner{
        flex-direction: column;
    }
    .description{
        padding-left: 0!important;
         padding-top:1rem!important;
    }
    .specificDiv-2{
        padding: 0!important;
    }
    .specific{
        border-right: none!important;
        border-bottom: 1px solid #C8C8C8;
        margin-bottom: 2rem;
    }
    .description-content span{
        padding-top: 2rem!important
    }
       
}


@media screen and (min-width:1024px) and (max-width:1340px){
    .product-inner{
        flex-direction: row;
    }
    .description{
        padding-left: 0!important;
         padding-top:1rem!important;
    }
     .specificDiv-2{
        padding: 0!important;
    }
    .specific{
        border-right: none!important;
        border-bottom: 1px solid #C8C8C8;
        margin-bottom: 2rem;
    }
       
}


