.product-items{
    background: #F9F9F9;
}

.content h1{
height: 88px;
font-weight: bold;
font-size: 30px;
line-height: 29px;
    color: #56698F;
    display: flex;
    align-items: center;
}
.application:focus{
outline: none;
}
.link{
    height: 262px;
    position: relative;
    background-color: #fff;
    margin-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
}
.link p{
    font-size: 24px;
    line-height: 108.7%;
    color: #0c0c0c;
    width: 236px;
    padding: 31px 0 0 21px;
}
.tovar2{
   width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}
.tovar2 img{
        border-radius: 7%;
}
.img-tovar{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}


.link-2{
    height: 125px;
    position: relative;
    background-color: #fff;
    margin-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
}

.link-2 p{
    font-size: 18px;
    line-height: 20px;
    color: #0c0c0c;
    width: 244px;
    padding: 19px 0 0 27px;
}

@media screen and (max-width:576px){
/*
    .link img{
        width: 100%;
    }
*/
}
