.categories-filter{
    background: #F9F9F9;
    padding-bottom: 4rem;
    min-height: 370px;
}
.title-catalog h1{
    font-weight: bold;
font-size: 30px;
line-height: 29px;
color: #56698F;
font-family:'GothamBold';
   
}

.filters-btn input[type="radio"] {
    display:none; 
}
.category-pills{
    background: #fff;
}
.filters-btn label {
    display:inline-block;
    border-radius: 3px;
    height: 15px;
    width: 15px;
    position: relative;
    margin: 0;
}
.filters-btn span{
    font-weight: 300!important;
    font-size: 12px!important;
    line-height: 185.7%!important;
    color: #373737!important;
    padding-left: 1rem;
}
.filter-collapse{
    padding: 1rem 0.5rem;
    border: 1px solid #EDEDED;
}
.element{
    padding: 0.5rem 0;
}
.filters-btn input[type="radio"]:checked + label { 
    background-color:#FECC00;
}
.title-catalog{
     height: 97px;
}
.title{
    font-size: 14px!important;
line-height: 108.7%!important;
    color: #5E5E5E!important;
    padding: 1rem 2rem!important;
    width: 100%;
    text-align: left!important;
    border-bottom: 1px solid #EDEDED!important;
    
}
.title:focus{
    color: #fff!important;
    background: #56698F;
    border-radius: 0px;
    
}

.all button{
    font-weight: 300!important;
    font-size: 11px!important;
    line-height: 185.7%!important;
    color: #56698F!important;
}
.all-2 button{
    font-weight: 300!important;
    font-size: 11px!important;
    line-height: 185.7%!important;
    color: #56698F!important;
}
.application{
    margin: 0 auto;
    background: #FECC00;
    border-radius: 8px;
    border: none;
    font-size: 13px;
    line-height: 12px;
    color: #fff;
    padding: 0.5rem 0;
}
.catalog-filters{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216)!important;
border-radius:  8px 8px 0px 0px;
    background: #fff;
}
.products{
background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
    margin-bottom: 1rem;
    position: relative;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.products i{
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #FECC00;
}
.catalog-img{
    margin-bottom: 20px;
}

.products-img{
display: flex;
    justify-content: center;
height: 150px;
}
.pages input[type="radio"] {
    display:none; 
}
.pages{
    padding-top: 2rem;
}
.pages label {
    display:inline-block;
    background-color: #F9F9F9;
    height: 20px;
    width: 22px;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}
.pages input[type="radio"]:checked + label { 
    background-color:#FECC00;
    color: #fff;
}
.all-product{
    padding-right: 0!important;
}
.title::after{
    content: '';
    position: absolute;
    border: 5px solid;
    border-color: transparent transparent transparent #56698F;
    right: 1rem;
    top: 1.5rem;
}
.title.active:focus::after{
    transform: scaleX(-1);
    border-color: transparent transparent transparent #fff;
}
.mobile-catalog-filters{
    display: none;
    width: 100%;
    text-align: center;
}
.parameters-btn{
    width: 92%;
    padding: 1rem !important;
    border: none !important;
    color: #fff !important;
    background-color: #FECC00 !important;
    border-radius: 8px !important;
}
.modal-content{
    overflow-y: scroll;
}

@media screen and (max-width:576px){
    .all-product{
        padding-right: 15px!important;
        padding-top: 1rem;
    }
    .catalog-filters{
        display: none;

    }
    .catalog-products{
        justify-content: center;
    }
    .modal-content{
        overflow-y: scroll;
        transform: translateY(30%);
    }
    .mobile-catalog-filters{
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width:576px){
     #like-button.not-liked{
        top: 2rem;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .all-product{
        padding-right: 15px!important;
        padding-top: 1rem;
    }
     #like-button.not-liked{
        top: 2rem;
    }
    .categories-filter{
        min-height: 685px;
    }
  
}

@media screen and (min-width:1024px) and (max-width:1340px){
    #like-button.not-liked{
        top: 2rem;
    }
}




