.company{
    background-color: #F9F9F9;
    padding: 34px 0 59px 0;
}
.company-about p{
    font-size: 14px;
line-height: 150.2%;
text-align: justify;
color: #000000;
}
.company-about span{
    font-weight: 600;
}
.company-title h1{
    margin-bottom: 30px;
}

.company-link h1{
    font-weight: bold;
font-size: 18px;
line-height: 17px;
color: #56698F;
}
.company-content{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between
   
}
.company-line{
    width: 487px;
    background-color: #DCDCDC;
    height: 1px;
    margin: 40px auto;
}

.company-items p{
    width: 100%;
    text-align: center;
    font-size: 12px;
line-height: 143.7%;
color: #2B2B2B;
}
.company-image{
    display: flex;
    align-items: center;
    justify-content: center;
width: 125px;
height: 125px;
    border-radius: 50%;
    background-color: #fff;
    margin: 29px 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.company-items{
    width: calc(12.5% - 19px);
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.company-partners p{
    width: 222.85px;
font-size: 12px;
line-height: 143.7%;
color: #2B2B2B;
margin: 0!important;
}
.company-partners {
background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
height: 93px;
align-items: center;
justify-content: space-evenly;
margin-bottom: 14px;
}
.company-partners-title{
    margin-bottom: 29px;
}
.about-partner p{
    font-size: 14px;
line-height: 150.2%;
text-align: justify;
color: #000000;
margin-top: 30px;
    padding-right: 30px;
}
.partners-list a{
font-weight: bold;
font-size: 14px;
line-height: 184.7%;
text-align: justify;
color: #56698F;
}
.partners-list{
    padding: 40px 34px;
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
}
.about-company{
    padding-left:  60px
}
.about-company p{
    font-size: 14px;
line-height: 150.2%;
text-align: justify;
color: #000000;
    
}
.about-image img{
    width: 100%;
}
@media screen and (max-width:576px){
    .company-about{
        flex-direction: column
    }
    .company-about img{
        width: 100%;
    }
    .company-items{
        width: 50%;
    }
    .partners-inner{
        flex-direction: column;
    }
    .about-partner p {
        padding: 0;
}
    .about-partner{
        padding-left: 1rem
    }
    .company-line{
        width: 100%;
    }
    .partners-list{
        margin-right: 15px!important
    }
    .about-inner{
        flex-direction: column;
    }
    .about-image{
        padding-left: 15px;
    }
    .about-company {
        padding-left: 15px;
    }
    .company-link h1{
        margin-top: 20px;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
  .company-items{
        width: 25%;
    }
}