.complaints{
    background: #F9F9F9;
    padding: 2rem 0 3rem 0;
}
.complaintsDiv{
    padding-right: 40px;
}
.complaintsDiv h3{
    font-weight: bold;
font-size: 15px;
line-height: 204.7%;
color: #0C0C0C;
}
.complaintsDiv p{
    font-size: 13px;
line-height: 138.2%;
text-align: justify;
color: #0C0C0C;
} 
.compl-forms h3{
    font-weight: bold;
font-size: 18px;
line-height: 138.2%;
color: #56698F;
} 
.compl-forms p{
    font-size: 13px;
line-height: 138.2%;
text-align: justify;
color: #0C0C0C;
}
.compl-forms input{
    background: #F9F9F9;
box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.0778245);
border-radius: 20px;
    border: none;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-size: 11px;
line-height: 13px;
    outline: none;
    width: 100%;
}

.compl-forms textarea{
    border: none;
    background: #F9F9F9;
box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.0778245);
border-radius: 20px;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    font-size: 11px;
line-height: 13px;
   resize: none;
    outline: none;
    width: 100%;
}
.complaints-forms{
    padding-top: 2rem;
    padding-left: 2rem!important;
    padding-right: 2rem!important;
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;

}
.compl-forms button{
    margin: 0 auto;
    padding: 1rem 0;
    border: none;
    background: #FECC00;
border-radius: 8px;
    color: #fff;
    font-size: 14px;
line-height: 13px;
text-transform: uppercase;
    
}
.compl-forms button:hover{
     background: #F3B003;
}
.compl-forms button:focus{
    outline: none;
}
button:focus{
    outline: none;
}
@media screen and (max-width:576px){
    .compl-title{
        padding: 15px!important
    }  
    .complaintsDiv{
        padding: 0;
    }
    .complaints-forms{
        padding-bottom: 20px;
    }
    
}
@media screen and (min-width:768px) and (max-width:1024px){
    .complaints-forms{
        padding-bottom: 20px;
    }
}