.contact{
    padding-top: 35px;
}
.contact-title span{
    font-size: 11px;
    line-height: 138.2%;
    color: #56698F;
}
.contact-title p{
font-size: 11px;
line-height: 138.2%;
color: #000;
}
.title-contacts h1{
    font-weight: bold;
font-size: 30px;
line-height: 29px;
color: #56698F;
    height: 50px;
}
.contact-item h2{
    height: 40px;
    font-weight: bold;
font-size: 18px;
line-height: 138.2%;
text-align: justify;
color: #56698F;
    margin: auto 0;
}
.contact-item{
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
padding: 20px 0 18px 29px !important;
    margin-bottom: 18px;
}
.contact-item h5{
    font-size: 14px;
    line-height: 138.2%;
    color: #0c0c0c;
}

.contact-item p{
    font-size: 14px;
line-height: 138.2%;
    color:#0c0c0c;;
    
}
.phone-content p{
font-size: 14px;
line-height: 138.2%;
color: #0c0c0c;
padding: 5px 15px;
}
.contact-content h3{
    font-weight: bold;
font-size: 14px;
line-height: 304.2%;
color: #0c0c0c;
}
.contact-content-p p{
font-size: 14px;
line-height: 197%;
color: #0c0c0c;
}


@media screen and (max-width:576px){
    .contact-content h3{
font-size: 13px!important;
line-height: 200%;
color: #0c0c0c;
}
    .contact-content-p p{
font-size: 10px!important;
line-height: 120%;
color: #0c0c0c;
}
    .title, .contact-title{
        padding-left: 29px!important;
    }
    .contact-inner-forms{
        flex-direction: column;
        margin-bottom: 20px;
    }
}
