.export-inner{
    padding: 40px 45px;
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.courier-inner{
     padding: 40px 44px 30px 45px;
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.courier-inner p{
    font-size: 14px;
line-height: 138.2%;
text-align: justify;
color: #0c0c0c;
}
.transport-inner p{
    font-size: 14px;
line-height: 138.2%;
text-align: justify;
color: #0c0c0c;
}
.transport-inner{
    padding: 40px 44px 30px 45px;
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
} 

.export-inner p{
    font-size: 14px;
line-height: 138.2%;
text-align: justify;
color: #0c0c0c;
}
.export-links h3{
    font-size: 16px;
line-height: 172.2%;
text-align: justify;
color: #0c0c0c;
    font-weight: 600;
}
.export-links{
    padding-bottom: 1rem
        
    
}
.export-item{
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px 8px 0px 8px;
}
.export-tabs.active{
    background-color:#56698F!important;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px 0px 0px 0px!important;
padding: 28px 38px 29px 42px;
 
color: #FFFFFF;
}
.export-tabs.active:hover{
   color: #FFFFFF!important; 
}
.export-tabs{
    font-weight: bold;
font-size: 18px;
line-height: 121.7%;
color: #56698F;
    padding: 29px 0 22px 0!important;

}
.export-nav{
    padding-bottom: 98px;
}
.export-links{
    text-align: justify;
}
.export-links h5{
    font-size: 16px;
line-height: 138.2%;
color: #0c0c0c;
}

.export-links h4{
    font-size: 16px;
    line-height: 138.2%;
    color: #0c0c0c;
    font-weight: 600;
    padding-left: 0.5rem
}
.export-btn{
    padding-right: 0!important;
}
.export-btn-content{
    padding-left: 0!important;
}
.export-tabs:hover{
    color: #56698F !important;
}

@media screen and (max-width:576px){
    .export-inner{
        padding:2rem 1rem;
    }
    .export-btn{
    padding-right: 15px!important;
}
.export-btn-content{
    padding-left: 15px!important;
}
    .export-links h3{
    font-size: 16px;
line-height: 121%;

}
    .export-tabs.active{
        border-radius: 8px 8px 0px 0px!important;
    }
    .courier-inner{
     padding: 2rem 1rem;
}
    .transport-inner{
        padding:2rem 1rem;
    }
    
    
}