.footer{
    background: #222222;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
  
}
.foot{
      height: 151px;
}
.foot-row{
    width: 100%;
}
.footer-link{
    font-size: 14px;
line-height: 138.2%;
    color: #fff;
}
.footer-link:hover{
     color: #FECC00!important;
}
.footer-item:hover{
     color: #FECC00!important;
}
.footer-item{
    font-size: 11px;
    line-height: 25px;
    color: #fff;
    text-align: right;
}
.logotype{
    text-align: right;
    font-size: 11px;
    line-height: 25px;
    color: #fff;
    margin-bottom: 0;
}
.logotype img{
    width: 57px;
    margin-top: -0.5rem;
    margin-left: 6px;
}
.logotype:hover{
    color: #FECC00!important;
}

@media screen and (max-width:576px){
    .footer-card{
        display: flex;
        justify-content: center!important;
        align-items: center!important;
    }
    .footer-link{
        font-size: 12px;
    }
    .footer{
        padding: 20px 0
    }
    .foot{
        display: flex;
        justify-content: center;
    }
    .footer-item{
        font-size: 12px;
    }
}