.garant-tabs.active{
    background-color: #56698F!important;
    color: #fff;
}
.garant{
    background-color: #F9F9F9;
}
.garant-tabs{
font-size: 18px;
line-height: 121.7%;
text-align: center;
color: #56698F;
padding:17px 40px!important; 
}
.return-txt p{
font-weight: 300;
font-size: 14px;
line-height: 138.2%;
text-align: justify;
color: #5E5E5E;
}

.return-txt h2{
    font-weight: 600;
font-size: 14px;
line-height: 138.2%;
text-align: justify;
color: #56698F;
}
.return-nav li{
    font-size: 14px;
line-height: 211.7%;
text-align: justify;
color: #232323;
}

.garant-img{
   padding-right: 0!important;
}
.nav-list li{
    padding-left: 20px;
    position: relative;
}
.nav-list li::before{
    content: '';
    width: 8px;
    height: 8px;
    background-color: #56698F;
    position: absolute;
    left: 0;
    border-radius: 50%;
    top: 0.6rem;
}
.return-inner{
    padding: 38px 0 50px 42px;
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.return-txt-list{
    padding-right: 50px;
}

.return-img{
    height: 90%;
    display: flex;
    align-items: center;
    background-image: url(../../../images/image/%D0%BA%D1%80%D1%83%D0%B31.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.garant-btn{
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px 8px 0px 8px;
   
}
.garant-row{
     padding-bottom: 92px!important;
}
.srok-inner{
  
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);

}
.srok-content{
      display: flex;
}
.condition-inner{
   
     background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
     padding: 38px 0 22px 42px;
}
.condition-content{
     display: flex;
}
.exchange-inner{
    display: flex;
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
       padding: 38px 0 22px 42px;

}
.exchange-content{
    display: flex;
}
.srok-txt{
    padding: 38px 0 22px 22px;
}
.srok-img{
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-image: url(../../img/%D0%BA%D1%80%D1%83%D0%B32.png);
    background-repeat: no-repeat;
    align-items: center;
    background-position-x: right;
        background-position-y: bottom;
}

.condition-img{
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url(../../img/%D0%BA%D1%80%D1%83%D0%B31.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.condition-img img{
    padding-left: 1rem;
}
.exchange-img{
    height: 100%;
    display: flex;
    align-items: center;
    background-image: url(../../img/%D0%BA%D1%80%D1%83%D0%B31.png);
    background-repeat: no-repeat;
    background-position-x: right;
    padding-left: 1.8rem;
}
.garant-nav{
    padding-right: 0!important
}
.return-image{
    padding-right: 0!important;
}


@media screen and (max-width:576px){
    .return-content{
        flex-direction: column;
    }
    .return-inner{
        padding: 2rem 1rem!important;
    }
    .garant-nav{
    padding-right: 15px!important
}
    .garant-btn{
        border-radius: 8px 8px 0px 0px!important;
    }
    .garant-row{
        margin: 0!important;
    }
    .return-txt-list {
        padding-right: 0!important;
    }
    .garant-img{
    padding-right: 15px!important;
}
    .return-img{
        justify-content: center;
    }
    .srok-content{
        flex-direction: column;
    }
    .srok-inner{
        padding: 2rem 1rem!important;
    }
    .srok-txt{
        padding: 0!important;
    }
    .srok-img{
     background-size: contain;
        justify-content: space-evenly;
            padding-left: 4rem;
    }
     .condition-content{
        flex-direction: column;
    }
    .condition-inner{
        padding: 2rem 1rem!important;
    }
    .condition-img img {
    padding-left: 2rem;
}
    .exchange-content{
        flex-direction: column;
    }
    .exchange-inner{
        padding: 2rem 1rem!important;
    }
    .exchange-img{
        padding-left: 2.8rem;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
      .return-content{
        flex-direction: column;
    }
    .return-inner{
        padding: 2rem 1rem!important;
    }
    .return-txt-list {
        padding-right: 0!important;
    }
    .garant-img{
    padding-right: 15px!important;
}
      .return-img{
          justify-content: flex-end;
        padding-right: 2.5rem
    }
     .srok-inner{
        padding: 2rem 1rem!important;
    }
    .srok-txt{
        padding: 0!important;
    }
    .srok-content{
        flex-direction: column;
    }
    .srok-img{
     background-size: contain;
     justify-content: flex-end;
        padding-right: 2.3rem
    }
      .condition-content{
        flex-direction: column;
    }
     .condition-inner{
        padding: 2rem 1rem!important;
    }
    .condition-img{
        justify-content: flex-end;
        padding-right: 3.5rem
    }
    .exchange-content{
        flex-direction: column;
    }
    .exchange-inner{
        padding: 2rem 1rem!important;
    }
    .exchange-img{
        padding-right: 3rem;
        justify-content: flex-end;
    }
    .garant-row{
        padding-left: 15px
    }
}

@media screen and (min-width:1024px) and (max-width:1340px){
    .return-img {
    justify-content: flex-end;
        padding-right: 3.5rem;
        padding-left: 0!important;
}
    .srok-img{
        justify-content: flex-end;
        padding-right: 2.5rem;
        padding-left: 0!important;
    }
     .condition-img{
        justify-content: flex-end;
        padding-right: 4rem;
        padding-left: 0!important;
    }
    .exchange-img{
         justify-content: flex-end;
        padding-right: 3.5rem;
        padding-left: 0!important;
    }
     .return-content{
        flex-direction: column;
    }
     .garant-row{
        padding-left: 15px
    }
}