body{
    font-family: 'Gotham', serif !important;
}
@font-face{
    font-family:'Gotham';
    src:url(../../../font/GothaProLig.otf);
    
}
@font-face{
    font-family:'GothamBold';
    src:url(../../../font/GothaProBol.otf);
    
}
a:hover{
    text-decoration: none!important;
}
.swal2-styled.swal2-confirm{
    background-color: #FECC00 !important;
}
.swal2-styled.swal2-confirm:focus{
    outline: none !important;
    box-shadow: none !important;
}
.sweet-alert h2{
    font-size: 23px !important;
    color: #56698F !important;
}
.confirm{
    background-color: #FECC00 !important;
}
.overhang{
    background-color: #FECC00 !important;
    border-bottom: 6px solid #F3B003 !important;
}
.overhang-close:after{
    color: #fff !important;
}
.btn-danger{
    background: #6D6D6D !important;
    border: none !important;
    margin-right: 20px !important;
}
.btn-success{
    background: #FECC00 !important;
    border: none !important;
}
.sweet-alert .sa-icon.sa-success .sa-line{
    background-color: #FECC00 !important;
}
.sweet-alert .sa-icon.sa-success{
    border-color: #FECC00 !important;
}
.slide img{
    width: 100%;
    height: 360px;
}

.header-links a{
    font-weight: 300;
font-size: 12px;
line-height: 12px;
color: #161616;
padding-left: 0;
}
.item{
    font-weight: 300;
font-size: 11px;
line-height: 12px;
color: #161616;
}
.header-links a{
    font-weight: 300;
font-size: 12px!important;
line-height: 12px;
color: #161616!important;
}
.item{
  color: #161616;  
}
.btn a{
    font-size: 14px;
line-height: 108.7%;
    color: #5E5E5E;
}
.header-option{
    background: transparent;
    font-weight: 400;
    font-size: 11px;
    line-height: 157.2%;
    letter-spacing: 0.5px;
    color: #000000;
    border: none;
}
.header-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    background: #F9F9F9;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
}
.bottom-header{
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
}
.search input{
    width: 631px;
    background: #F9F9F9!important;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.0778245);
    border-radius: 20px;
    padding: 10px 37px 10px 20px;
    color: #B3B3B3; 
    border: none!important;
    outline: none;
}
.search input::placeholder{
    color: #B3B3B3;
    font-size: 11px!important;
    line-height: 13px!important;
}
.search{
    width: 100%;
    position: relative;
}

.search-img{
    position: absolute;
    top: 0.8rem;
   right: 1rem;
}
.slider{
    width: 100%;
    height: 360px;
}
.icons::before{
    position: absolute;
    content: "";
    width: 14px;
    height: 13px;
    background: #56698F;
    display: block;
    border-radius: 50%;
    top: 4px;
    left: 57%;
}
.icons{
    position: relative;
    
}
.header-filter-icons a{
    font-size: 11px;
line-height: 157.2%;
letter-spacing: 0.5px;
color: #000000;
}
.icons span{
    position: absolute;
    top: 3px;
    left: 26px;
    font-size: 10px;
    
    color: #fff;
}
.mobile-nav-icon i{
    font-size: 21px;
    color: #FECC00;
}
.slideshow{
    height: 361px;
}
.burger-menu-btn{
  display: none;
  width: 3rem;
  height: 2.5rem;
  background-color: #FECC00;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease;
  z-index:9999;
    position: relative;
}
.dropdown-menu.show{
    z-index: 99999;
}

.navbar{
    padding: 0.5rem 0!important;
}
.mobile-menu-btn a{
    margin-left: 2rem;
    padding: 0;
}
.burger-menu img{
    position: absolute;
    top: 1rem;
    left: 2rem;
    width: 6rem;
    height: 3rem;
    display: none;
}
.burger-menu-lines,
.burger-menu-lines::after,
.burger-menu-lines::before{
	position: absolute;
	width: 2rem;
	height: 5px;
	background-color: #fff;
}
.burger-menu-lines{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transition: all .5s ease;
}
.burger-menu-lines::after{
	content: '';
	top: -12px;
	transition: all .5s ease;
}
.burger-menu-lines::before{
	content: '';
	top: 12px;
	transition: all .5s ease;
}

.burger-menu-lines-active .burger-menu-lines{
	background-color: transparent;
}

.burger-menu-lines-active .burger-menu-lines::before{
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu-lines-active .burger-menu-lines::after{
	top: 0;
	transform: rotate(45deg);
	
}
.catalog-link-mobile{
    display: none!important;
}

.nav-panel-mobil{
	position: fixed;
	background-color: #fff;
	height:100vh;
	z-index: 99;
	transition:.5s;
	width: 100%;
	text-align: center;
	transform: translateX(-100%);
	font-size:20px;
	font-weight:bold;
	padding-top:1rem;
	top: 0;
	display: flex;
	align-items: center;
}
.nav-panel-mobil-active{
	transform: translateX(0);
}
.logo-mobile{
    display: none;
}
.categories{
    position: absolute;
    width: 65%;
    left:8.5rem;
    z-index: 99999994;
}
.list-item{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 0 0 8px 8px;
    padding: 22px 0;
    background-color: #fff;
}
.tab-item{
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
    
}
.panel{
       padding: 1.5rem 2rem;
}
.tabs{
    padding-left: 23px!important;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    height: 48px;
    
}
.tabs:hover{
     color: #FECC00!important;
}
.tab-link a:hover{
     color: #FECC00!important;
}
.tab-link{
    padding-bottom: 0.8rem;
}
.tab-link a{
font-weight: 300;
font-size: 13px;
line-height: 15px!important;
color: #3F3F3F;
line-height: 12px;
padding: 0.4rem 0;
}
.categories-link {
    font-family:'GothamBold';
    font-size: 14px!important;
line-height: 108.7%!important;
color: #5E5E5E!important;
}
.tabs.active{
    background-color: #56698F!important;
}
.btn{
    box-shadow: none!important;
}
.catalog-btn{
    width: 100%;
}
.catalog-button{
    display: none;
}
.mobile-menu-btn {
	 background-color: transparent;
	 border: 0;
	 cursor: pointer;
	 float: left;
	 height: 40px;
	 
	 outline: 0;
	 position: relative;
	 width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}
 .mobile-menu-btn span {
	 left: 0;
	 top: 1.2rem;
}
 .mobile-menu-btn span::before {
	 top: -8px;
}
 .mobile-menu-btn span::after {
	 bottom: -8px;
}
 .mobile-menu-btn span::before, .mobile-menu-btn span::after {
	 content: '';
}
 .mobile-menu-btn span, .mobile-menu-btn span::before, .mobile-menu-btn span::after {
	 display: block;
	 background-color: #56698F;
	 height: 2px;
	 position: absolute;
	 transition: all 0.3s ease-in-out;
	 width: 20px;
}
 .mobile-menu-btn.active span {
	 background-color: transparent;
}
 .mobile-menu-btn.active span::before, .mobile-menu-btn.active span::after {
	 background-color: #56698F;
	 top: 0;
}
 .mobile-menu-btn.active span::before {
	 transform: rotate(45deg);
}
 .mobile-menu-btn.active span::after {
	 transform: rotate(-45deg);
}
#collapseExample{
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 0;
}
.mobile-links{
    display: none;
}
.mobile-header{
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
}
.mobile-icons ul{
    margin: 0!important
}
.mobile-icons{
    display: flex;
    align-items: center;
    height: 100%;
}
.mobile-logo{
    display: flex;
    justify-content: center;
}
.burger-menu{
    position: absolute;
    top: 40%;
    right: 1rem;
}
.mobile-search input{
    width: 281px;
}
#mob-btn{
    padding:  0!important
}
.mobile-menu-btn{
    align-items: center;
}
.mobile-search{
 position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.mobile-search input{
    background: #F9F9F9;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.0778245);
    border-radius: 20px;
    border: none;
    padding-right: 28px;
   
}
.mobile-search input:focus{
    outline: none;
}
.fade:not(.show){
    display: none !important;
}
.mob-search-img{
    position: absolute;
    top: 0.25rem;
    right: 0rem;
    padding-right: 6px;
    padding-left: 3px;
    border-top-right-radius: 8px;
}
.mobile-catalog{
    padding-bottom: 0.5rem
}
.mobile-links{
    background: #fff;
    padding-top: 1rem; 
}
#contact-link{
    padding: 0!important;
}
.header-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mob-header-filter{
    justify-content: space-between;
}
 .m-dropdown .e-button {
	 border-radius: 20px;
	 -moz-border-radius: 20px;
	 -webkit-border-radius: 20px;
	 -ms-border-radius: 20px;
	 font-size: 14px;
	 font-size: 1.4rem;
	 line-height: 20px;
	 padding: 8px 40px 8px 15px;
	 z-index: 900;
	 color: #fff;
	 font-weight: 900;
	 position: relative;
	 border: 2px solid transparent;
	 margin-top: 2px;
	 font-family: 'Open Sans', sans-serif;
	 z-index: 5;
	 display: block;
	 width: 100px;
	 margin: 0 auto;
	 background: #1b1b1b;
}
 .m-dropdown .e-button:hover {
	 cursor: pointer;
	 box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	 color: #699;
}
 .m-dropdown .e-button:hover .e-burger span {
	 background: #699;
}
 .m-dropdown .e-button:after, .m-dropdown .e-button:before {
	 display: block;
	 content: " ";
	 position: absolute;
	 top: 2px;
	 height: 100%;
	 width: 20px;
	 background: #333;
	 z-index: 0;
}
 .m-dropdown .e-button:after {
	 left: 100%;
	 margin-left: 2px;
	 border-bottom-left-radius: 10px;
}
 .m-dropdown .e-button:before {
	 right: 100%;
	 margin-right: 2px;
	 border-bottom-right-radius: 10px;
}
 .m-dropdown .e-button .e-burger {
	 position: absolute;
	 top: 50%;
	 -webkit-transform: translateY(-50%);
	 -moz-transform: translateY(-50%);
	 -ms-transform: translateY(-50%);
	 -o-transform: translateY(-50%);
	 transform: translateY(-50%);
	 right: 15px;
	 width: 15px;
	 height: 14px;
	 transform-origin: center;
	 z-index: -1;
}
 .m-dropdown .e-button .e-burger span {
	 position: absolute;
	 top: 50%;
	 -webkit-transform: translateY(-50%);
	 -moz-transform: translateY(-50%);
	 -ms-transform: translateY(-50%);
	 -o-transform: translateY(-50%);
	 transform: translateY(-50%);
	 border-radius: 2px;
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 -ms-border-radius: 2px;
	 width: 100%;
	 height: 2px;
	 background: #fff;
	 display: block;
	 left: 0;
	 transform-origin: center;
}
 .m-dropdown .e-button .e-burger span:first-child {
	 top: 0;
	 transform: none;
}
 .m-dropdown .e-button .e-burger span:last-child {
	 top: auto;
	 bottom: 0;
	 transform: none;
}
 .m-dropdown .e-button .e-burger:after {
	 content: " ";
	 display: block;
	 position: absolute;
	 top: 12px;
	 right: -37px;
	 height: 0;
	 width: 199px;
	 left: auto;
	 z-index: -2;
	 background: #1b1b1b;
	 opacity: 0;
}
 .m-dropdown .e-button.open {
	 border-color: transparent;
	 background: #1b1b1b;
	 border-bottom-left-radius: 0px;
	 border-bottom-right-radius: 0px;
	 color: #699;
}
 .m-dropdown .e-button.open .e-burger span {
	 background: #699;
}
 .m-dropdown .e-button.open .e-burger span:first-child {
	 opacity: 0;
}
 .m-dropdown .e-button.open .e-burger span:nth-child(2) {
	 transform: translateY(-50%) rotate(-45deg);
}
 .m-dropdown .e-button.open .e-burger span:nth-child(3) {
	 transform: translateY(-50%) rotate(45deg);
}
 .m-dropdown .e-button.open .e-burger span:last-child {
	 opacity: 0;
}
 .m-dropdown .e-button.open .e-burger:after {
	 height: 15px;
	 opacity: 1;
}
 .m-dropdown .e-list {
	 border-radius: 5px;
	 -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -ms-border-radius: 5px;
	 box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
	 position: relative;
	 width: 100%;
	 margin: 0;
	 padding: 0;
	 list-style: none;
	 background: #1b1b1b;
	 float: left;
	 overflow: hidden;
	 z-index: 999;
}
 .m-dropdown .e-list li {
	 display: block;
	 width: 100%;
	 float: left;
	 border-bottom: 1px solid rgba(255, 255, 255, 0.01);
	 box-sizing: border-box;
}
 .m-dropdown .e-list li:last-child {
	 border: none;
}
 .m-dropdown .e-list li a {
	 padding: 15px;
	 float: left;
	 width: 100%;
	 text-decoration: none;
	 color: #fff;
	 font-weight: 600;
	 box-sizing: border-box;
}
 .m-dropdown .e-list li a:hover {
	 background: #fff;
	 color: #111;
}
.tab-content-head{
    display: none;
}
.active-block{
    display: block !important;
}
.active-none{
    display: none !important;
}
.back i{
    width: 66px;
    display: flex;
    justify-content: space-between;
    color: #56698F;
}

.mobile-collapse{
    display: none
}
.tab-item-mobile{
    display: flex;
}
.panel-mob{
    background: #fff;
}
.tabs-mobile.active{
    background-color: #56698F!important;
    
}
.tabs-mobile{
font-weight: 300;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #000000;
    padding: 1rem!important
}
.mobile-slider{
    display: none;
    width: 100%;
    height: 186px;
}
.mobile-slider .slide img{
    width: 100%;
    height: 186px; 
}
.mobile-slider .slick-prev:before {
    top: -90px;
}
.mobile-slider .slick-next:before{
    top: -90px;
}

@media screen and (max-width:576px){
    .burger-menu-btn{
        display: block;
    }
    .mobile-search input{
        width: 100% !important;
    }
    .burger-menu img{
        display: block;
    }
    .dropdown-menu.show{
        transform: translate3d(-18px, 41px, 0px) !important;
        min-width: 6rem !important;
    }
    .tovar2 img{
        width: 39%;
    }
    .head-inner{
        display: none;
    }
    .mobile-links{
        display: block;
    }
    .head{
        position: sticky;
        top: 0;
        z-index: 9999;
    }
    .bottom-header{
    display: none;
   
    }
    .header-filter{
        display: none!important;
    }
    .bottom-links{
        display: contents!important;
    }
    .logo-mobile{
        display: block;
    }
    .search input{
        width: 100%!important;
    }
    .search-box{
        width: 100%;
    }
    .nav-icons{
        display: flex;
        flex-direction: row!important;
       
    }
    .mobile-collapse{
    display: block!important
}
    .nav-icon{
       padding:8px!important;
    }
    .catalog-link{
        display: none!important;
    }
    .catalog-link-mobile{
        display: block!important;
        margin-right: 24px;
    }
    .mobile-menu-btn a {
    margin-left: 0.9rem!important;
}
    .search img{
    position: absolute;
    top: 0.2rem;
    right: 2rem;
}
    .categories{
    position: absolute;
    width: 100%;
    left:0;
    z-index: 99999994;
}
    .catalog-button{
    display: block;
}
    .navs{
        padding: 0.5rem 0!important;
    }
    .collapse-main{
        display: none;
    }
    .catelog-mobile-collapse{
        display: block;
    }
    .slide img {
        width: fit-content;
    }
   .slider{
       display: none;
   }
   .mobile-slider{
    display: block;
}
.mobile-logo{
    justify-content: flex-start;
}
.mobile-logo img{
    width: 100%;
}
}



@media screen and (min-width:768px) and (max-width:1024px){
       .burger-menu-btn{
        display: block;
    }
    .burger-menu img{
        display: block;
    }
    .mobile-icons ul{
        width: 100%;
    justify-content: space-evenly;
    }
    .burger-menu {
        top: 45%;
        right: 7rem;
    }
    .toggle{
        width: 100% !important;
        height: 100%;
        display: flex !important;
        align-items: center;
        margin-top: 0.5rem !important;
    }
    .head-inner{
        display: none;
    }
    .header-filter{
        display: block;
    }
     .mobile-links{
        display: block;
    }
    .header-filter{
        display: none!important;
    }
    .mob-header-filter{
            justify-content: space-evenly!important;
    }
      .head{
        position: sticky;
        top: 0;
        z-index: 9999;
    }
    .mobile-header {
    justify-content: space-evenly;
    }
    .mob-row{
        display: flex;
        justify-content: center!important
    }
    .bottom-header{
    display: none;
   
    }
       .mobile-collapse{
    display: block!important
}
     .collapse-main{
        display: none;
    }
    .logo-mobile{
        display: block;
    }
    .search input{
        width: 100%!important;
    }
    .search-box{
        width: 50%;
    }
   
    .nav-icons{
        display: flex;
        flex-direction: row!important;
    }
    .nav-icon{
       padding:8px!important;
    }
    
    .catalog-button{
        padding: 0!important;
        width: fit-content;
        display: block;
    }
    .search img{
    position: absolute;
    top: 0.8rem;
    right: 2rem
}
     .catalog-btn{
    display: none;
}
    .mobile-menu-btn{
        justify-content: center!important;
    }
    .bottom-links{
        display: contents!important;
    }
}

@media screen and (min-width:1024px) and (max-width:1340px){

    .search img{
    position: absolute;
    top: 0.8rem;
    right: 2rem
}
    .catalog-btn{
        width: fit-content;
    }
    .search{
        width: 100%!important;
    }
     .catalog-btn{
        padding: 0!important;
        width: fit-content;
        display: block;
    }
       .catalog-button{
    display: none;
}
    .catalog-link{
        padding: 0!important;
    }
    .mobile-menu-btn{
        align-items: center!important;
    }
    .mobile-menu-btn a{
        font-size: 1rem!important
    }
}

 
