.sales-title h1{
    height: 88px;
    font-weight: bold;
    font-size: 30px;
    line-height: 29px;
    color: #56698F;
    display: flex;
    align-items: center;
}
.filter-btn a{
    font-size: 14px;
line-height: 13px;
    color: #56698F;
}
.filter-option{
    height: 100%;
    padding: 0 10px;
    border: none;
}
.filter-inner{
    width: 100%;
    height: 56px;
    background: #fff;
    display: flex;
    align-items: center;
    border: 0.5px solid #DCDCDC;
    
}
.model{
    border-radius: 8px 0px 0 0;
}
.size{
     border-radius: 0 8px 0 0;
}
.filter-row{
    width: 100%;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.0778245);
}
.radio-toolbar-one input[type="radio"] {
    display:none; 
}
.radio-btn{
    padding: 35px;
}
.radio-toolbar-one label {
    display:inline-block;
    background-color: #F9F9F9;
    padding:4px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.0778245);
}
.radio-toolbar-one span{
    font-weight: 300;
    font-size: 11px;
    line-height: 12px;
    color: #000;
    margin: 0 20px;
}
.radio-btn{
    border-right: 0.5px solid #DCDCDC;
}
.filter-btn a:hover{
     color: #FECC00!important;
}
.radio-toolbar-one input[type="radio"]:checked + label { 
    background-color:#FECC00;
    box-shadow: none;
}
.collapse-link{
    background: #fff;
    width: 100%;
    display: flex;
}
.filter-app-btn{
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.filter-app-btn button{
font-size: 14px;
line-height: 13px;
color: #fff;
background: #FECC00;
border-radius: 8px;
padding: 15px 0;
border: none;
width: 200px;
text-transform: uppercase;
}

.filters::after{
    content: '';
    position: absolute;
    border: 5px solid;
    border-color: #56698F transparent transparent  transparent ;;
    right: 1.5rem;
    top: 1.8rem;
}

.size::after{
    content: '';
    position: absolute;
    border: 5px solid;
    border-color: #56698F transparent transparent  transparent ;;
    left: 7rem;
    top: 1.8rem;
}
.application-mob{
    padding:0.3rem!important;
    background: #FECC00;
border-radius: 8px;
    color: #fff;
    border: none;
}
.mobile-filter{
    display: none;
}
.mob-btn{
        text-align: center;
    width: 100%;
    background: #fff!important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216)!important;
    margin-bottom: 1px;
    font-size: 14px!important;
line-height: 108.7%!important;
color: #5E5E5E!important;
    padding: 1rem 0!important;
}

.mob-btn::after{
    content: '';
    position: absolute;
    border: 5px solid;
    border-color: #56698F transparent transparent  transparent ;;
    right: 2rem;
    top: 1.5rem;
}
.dropdown-slider{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-right: 0.5px solid #DCDCDC;
}

.ui-slider{
    width: 260px;
    position: absolute;
    top: 0.3rem;
    height: 5px!important;
    background: #EDEDED!important;
    border-radius: 3px!important;
   
}
.ainura-1{
    position: relative;
    outline:none;
}
.rangeVal-1{
    position: absolute;
    top: -1.5rem;
    left: 0.2rem;
    font-size: 11px!important;
line-height: 12px!important;
color: #000000;
    background-color:#fff;
    outline: none !important;
    width: fit-content;
    
}
.ainura-2{
    position: relative;
    outline:none;
}
.rangeVal-2{
    position: absolute;
    top: -1.5rem;
    font-size: 11px!important;
line-height: 12px!important;
color: #000000;
    background-color:#fff;
    outline: none !important;
    width: fit-content;
}
.ui-slider-horizontal .ui-slider-range{
    background:  #56698F!important;
}

.ui-slider-handle{
    position: absolute;
    top: -0.5rem!important;
    background: #56698F!important;
    border-radius: 50%!important;
    border:none!important;
}
.range-num{
    width: 100%;
    position: absolute;
    top: 4rem;
}
.range-num p{
    font-size: 11px;
line-height: 12px;
color: #000000;
}
.prev-range{
    margin-left: 2rem ;
}
.next-range{
    margin-right: 2rem; 
}

@media screen and (max-width:576px){
    .filter-inner{
        justify-content: center;
    }
    .mobile-filter{
    display: block;
}
    .desktop-filter{
        display: none!important;
    }
    .dropdown-btn{
        background: #fff;
        padding: 1rem 2rem;
    }
    .radio-toolbar-one{
        margin-bottom: 0.5rem;
    }
    .sales-title h1{
        font-size: 1.8rem
    }
    .content h1{
        font-size: 1.8rem
    }
    
}
@media screen and (min-width:768px) and (max-width:1024px){
    .product-item{
        margin-bottom: 15px;
    }
    .mobile-filter{
    display: block;
}
    .desktop-filter{
        display: none!important;
    }
    .dropdown-btn{
        background: #fff;
        padding: 1rem 2rem;
    }
    .radio-toolbar-one{
        margin-bottom: 0.5rem;
    }
}

