.news-inner-img img{
    width: 100%;
}
.news-inner-txt h3{
    font-weight: bold;
font-size: 30px;
line-height: 35px;
color: #56698F;
}
.date p{
    margin-bottom: 0!important;
    padding-left: 9px;
}
.news-inner-txt h2{
    font-size: 14px;
line-height: 138.2%;
color: #5E5E5E;
padding-top: 17px;
}
.news-inner-txt p{
    font-size: 14px;
line-height: 151.7%;
text-align: justify;
color: #5E5E5E;
}
.news-inner-txt button{
    width: 220px;
    height: 47px;
    background: #FECC00;
    border-radius: 8px;
    font-size: 14px;
    line-height: 13px;
    color: #FFFFFF;
    border: none;
}
.news-inner-txt button:hover{
    background: #F3B003;
}
.news-inner-txt{
    padding: 19px 0 52px 0;
}
.news-inner-content{
    padding-top: 0.5rem;
}

.new-content h1{
    font-weight: bold;
font-size: 18px;
line-height: 118.2%;
color: #56698F;
    padding-left: 3.5rem
}
.new-content{
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
    padding: 35px 0;
}
.new-item a{
font-size: 14px;
line-height: 138.2%;
color: #5E5E5E;
width: 260px;
    border-bottom: 1px solid #D5D5D5;
    padding: 1rem ;
}
.new-item-bottom a{
    font-size: 14px;
line-height: 138.2%;
color: #5E5E5E;
width: 260px;
padding: 1rem ;
}
.new-item:hover .links{
   
     color: #fff!important;
    border: none!important
}
.new-item:hover{
    background-color: #56698F;
}
.new-item-bottom:hover{
    background-color: #56698F;
}
.new-item-bottom:hover .links{
   
     color: #fff!important;
    border: none!important
}
.compl-title{
    display: flex;
    align-items: center;
}

@media screen and (max-width:576px){
    .news-inner-txt h3{
        font-size: 20px;
    }
    .news-inner-txt br{
       display: none
    }
    .new-content{
        margin-bottom: 2rem;
    }
     .compl-title{
        align-items: baseline!important
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .news-item br{
       display: none
    }
    .new-item a{
        width: 100%!important;
        text-align: center;
    }
    .new-item-bottom a{
        width: 100%!important;
        text-align: center;
    }
    .new-content h1{
     text-align: center;
    }
    .new-content{
          margin-bottom: 2rem;
    }
   
}
@media screen and (min-width:1024px) and (max-width:1340px){
    .new-content h1{
        text-align: center;
    }
}