.news{
    background-color: #F9F9F9;
}
.news-txt h3{
font-weight: bold;
font-size: 18px;
line-height: 118.2%;
color: #56698F;
}
.news-txt p{
    font-size: 14px;
line-height: 138.2%;
text-align: justify;
color: #0c0c0c;
}
.news-txt h3{
padding: 28px 21px 0 30px; 
}
.news-txt p{
    padding: 0 21px 0 30px;
}
.news-btn button{
    width: 220px;
height: 47px;
background: #FECC00;
border-radius: 8px;
border: none;
font-size: 14px;
line-height: 13px;
color: #FFFFFF;
    margin-bottom:29px;
}
.news-btn button:hover{
    background: #F3B003;
}
.news-btn button:focus{
    outline: none;
}
.news-img img{
   width:100%;
}
.news-content{
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
    margin-bottom: 43px;
}
.download-btn button{
    width: 356px;
background: #6D6D6D;
border-radius: 8px;
font-size: 14px;
line-height: 13px;
color: #FFFFFF;
    padding: 1rem 2rem;
}
.download-btn button:hover{
    color: #FFF!important
}
.download-btn {
    margin-bottom: 78px;
}

.news-inner{
     background-color: #F9F9F9;   
}

@media screen and (max-width:576px){
    .download-btn button{
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .news-btn button{
        width: 90%;
    }
    .news-txt h3{
        padding: 1rem
    }
    .news-txt p{
        padding: 0 1rem;
    }
}