.menuDiv a{
    font-size: 16px;
line-height: 20px;
letter-spacing: 0.02em;

color: #858585;
}
.menuDiv{
    min-width: 220px;
   padding: 0.5rem 1rem;
    
}
.dropdown-menu{
    box-shadow: 0px 0px 12px #F2F2F2;
border-radius: 5px;
    border: none!important;
}
.orders-panel{
   margin: 2.5rem 2.5rem 2.5rem 0
}
.orders-item h1{
    font-size: 18px;
line-height: 138.2%;
color: #5E5E5E;
}
.orders-img img{
    width: 202px;
    height: 170px;
}
.orders-img{
        display: flex!important;
    justify-content: center!important;
}
.orders-item h5{
    font-size: 14px;
line-height: 138.2%;
color: #5E5E5E;
}
.orders-item p{
    font-size: 14px;
line-height: 138.2%;
color: #56698F;
}
.order button{
     width: 192px;
    border-radius: 8px!important;
color: #fff!important;
font-size: 14px!important;
line-height: 13px!important;
    padding: 1rem 0;
    border: none;
}
.cansel{
   
background: #6D6D6D!important;

}
.pay{
    background: #FECC00;
}
.orders-item{
    padding-bottom: 32px;
    padding-top: 25px;
    
}
.orders-inner{
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.orders-item{
    padding-right: 2rem!important;
}

.orders-inner::-webkit-scrollbar {
    height: 10px;
    width: 3px;
    background: #fff;
}

.orders-inner::-webkit-scrollbar-thumb {
    background: rgba(51, 51, 51, 0.5);
    opacity: 0.3;
    border-radius: 1ex;
}

.orders-inner::-webkit-scrollbar-corner {
    background: #fff;
}

.orders-inner::-webkit-scrollbar-thumb {
    background:#FECC00;
    
    opacity: 0.3;
    border-radius: 1ex;
}

.orders-inner::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.1); 
}

.orders-item{
    position: relative;
   
}

.orders-item::after{
    content: '';
    width: 94%;
    height: 1px;
    background: #DFDFDF;
    position: absolute;
    bottom: 0;
}

.order{
     padding-top: 0.5rem
}
.property{
    position: relative;
   
}
.property::after{
    content: '';
    width: 94%;
    height: 1px;
    background: #DFDFDF;
    position: absolute;
    bottom: 0;
}
.order-text.active p {
    color: red;
}
.balans h2{
   font-weight: bold;
font-size: 18px;
line-height: 138.2%;
text-align: justify;
color: #56698F;
    padding: 1rem 3rem
}
.bonuses{
    justify-content: space-evenly!important;
}
.bonus-img{
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
}
.count-bonus h3{
    font-weight: bold;
font-size: 48px;
line-height: 59px;
color: #56698F;
}
.count-bonus h4{
    font-size: 18px;
line-height: 108.7%;
color: #5E5E5E;
}
.count-bonus{
    align-items: baseline;
}
.obmen button{
    width: 188px;
    background: #FECC00;
border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 14px;
line-height: 17px;
    padding: 1rem 0
    
}

.snyatie button{
    width: 188px;
  background: #6D6D6D;
border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 14px;
line-height: 17px;
    padding: 1rem 0;
    
}
.bonus-panel{
    padding:2rem 1rem 4rem 1rem;
}
.profile-link input{
    background: #F9F9F9;
box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.0778245);
border-radius: 20px;
    font-size: 14px;
line-height: 138.2%;
color: #5E5E5E;
    padding: 0.3rem 1rem;
    border: none;
}
.setting{
    padding: 2rem
}
.set-link{
    padding-bottom: 11px
}


@media screen and (max-width:576px){
    .profile-tabs img{
        transform: rotate(90deg)
    }
    .orders-inner{
        padding: 0;
        overflow-x: scroll;
    }
}