.content-inner{
    background-color: #F9F9F9;
    padding: 54px 0 203px 0;
}
.content-inner h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #56698F;
    margin-bottom: 21px;
}
.content-page{
    background-color: #fff;
    padding: 66px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-page h3{
    font-size: 16px;
    line-height: 108.7%;
    color: #5E5E5E;
}
.content-page input{
    width: 360px;
    height: 34px;
    background: #F9F9F9;
    box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.0778245);
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    margin: 15px 0;
}
.content-page input::placeholder{
    font-size: 11px;
    line-height: 13px;
    color: #B3B3B3;
}
.reset-btn{
    background: #FECC00;
    border-radius: 8px;
    height: 47px;
    width: 170px;
    font-size: 14px;
    line-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: 30px;
    border: none;
}
.reset-btn:focus{
    outline: none;
}


@media screen and (max-width:576px){
    .content-inner{
        background-color: #F9F9F9;
        padding: 50px 0 ;
    }
    .content-page{
        padding: 40px 20px;
    }
    .content-page input{
        width: 240px;
    }
    .content-inner h1{
        font-size: 24px;
    }
    .content-page a{
        margin-top: 20px;
    }
}


@media screen and (min-width:768px) and (max-width:1024px){
    .content-inner{
        background-color: #F9F9F9;
        padding: 40px 100px ;
    }
    .content-page{
        padding: 40px;
    }
    .content-page input{
        width: 260px;
    }
    .content-inner h1{
        font-size: 24px;
    }
    .content-page a{
        margin-top: 10px;
    }
}