.payment-content{
    background-color: #fff;
    padding: 66px 55px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.payment-content a{
    background: #FECC00;
    border-radius: 8px;
    height: 47px;
    width: 220px;
    font-size: 14px;
    line-height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
}
.payment-content a:hover{
    color: #fff !important;
}
.requisite-title h2{
    font-size: 16px;
    line-height: 108.7%;
    color: #5E5E5E;
}
.requisite-title {
    display: flex;
    align-items: center;
    height: 100%;
}

@media screen and (max-width:576px){
    .payment-content{
        flex-direction: column;
        padding: 40px;
    }
    .payment-content a{
        margin-bottom: 20px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .payment-content{
        flex-direction: column;
        padding: 40px;
    }
    .payment-content a{
        margin-bottom: 20px;
    }
}