.product{
   padding:27px 0 57px 0;
}
.product-sl{
    height: 218px;
}
.link-image img{
    width: auto;
    height: 218px;
}
.mob-product-slider .products-rec button{
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.mob-product-slider .products-rec button>img{
    margin-right: 10px;
}
.product-item{
    display: flex;
    align-items: flex-end;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
    border-radius: 8px;
    height: 324px;
      position: relative;
    padding: 0;
}
.product-card p{
font-size: 14px;
line-height: 138.2%;
color: #5E5E5E;
margin: 0 20px;
height: 68px;
}
.not-available{
    font-size: 13px !important;
    line-height: 138.2% !important;
    color: #5E5E5E !important;
    margin: 0 20px !important;
    display: flex;
    align-items: center;
}
.cost span{
font-weight: bold;
font-size: 14px;
line-height: 21px;
color: #56698F;
}
.cost{
    padding: 0 1.3rem 0.5rem 0
}
.icons-heart{
    position: absolute;
    top: 1rem;
    left: 1rem
}
.products-img img{
    width: 150px;
    height: 140px;
    padding-top: 1rem;
}
.basket{
   background: #FECC00;
border-radius: 0px 0px 8px 8px;
    height: 47px;
}
.basket:hover{
    background: #F3B003;
}
.basket a:hover{
    color: #fff;
}
.basket a{
    font-size: 14px;
line-height: 13px;
    color: #fff;
}
.recom-product{
    display: flex;
    justify-content: space-between;
}
#like-button:hover {
	 cursor: pointer;
	 color:#FECC00;;
}
 #like-button.not-liked {
	 color: #FECC00;
    position: absolute;
    top: 1rem;
    left: 1rem;
}
 #like-button.not-liked:hover {
	 color:#FECC00;
}
 #like-button.liked {
	 color: #FECC00;
     position: absolute;
    top: 1rem;
    left: 1rem;
}
 #like-button.liked-shaked {
	 animation: bounce 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
	 transform: translate3d(0, 0, 0) rotate(0deg);
	 transform: rotate(0deg);
	 backface-visibility: hidden;
	 perspective: 1000px;
}
.fa-2x {
     font-size: 1.2em!important; 
}
 @keyframes bounce {
 0%   { transform: scale(1,1)      translateY(0); }
        10%  { transform: scale(1.1,.9)   translateY(0); }
        30%  { transform: scale(.9,1.1)   translateY(-100px); }
        50%  { transform: scale(1.05,.95) translateY(0); }
        57%  { transform: scale(1,1)      translateY(-7px); }
        64%  { transform: scale(1,1)      translateY(0); }
        100% { transform: scale(1,1)      translateY(0); }
    }



.mob-recom-product{
    display: none;
}
.basket{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:576px){
    .product-item{
        margin: 10px;
        width: fit-content!important;
    }
    .product-card{
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .products-img img {
        width: 100%!important;
        padding: 0;
    }
    .recom-product{
        display: none;
    }
    .mob-recom-product .slick-initialized .slick-slide{
        margin: 0 10px;
    }
    .mob-recom-product{
        margin: 10px 0;
    }
    .mob-recom-product{
    display: block;
}
    .basket{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .basket a{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }
}


