.profile-tabs{
    display: flex!important;
    justify-content: space-between!important;
    align-items: center;
}
.p-title{
    font-weight: bold;
font-size: 18px;
line-height: 138.2%;
text-align: justify;
color: #56698F;

}
.profile-content{
      padding-top: 1.5rem!important;
    background: #FFFFFF;
    border-radius: 8px 0px;

}
.profile-tabs.active{
background: #56698F!important;
border-radius: 0px;
    color: #fff !important;
}
.profile-tabs{
    font-weight: bold;
font-size: 18px;
line-height: 138.2%;
padding: 0.7rem 2rem!important;
text-align: justify;

color: #56698F ;
}
.nav-link:hover{
    color: #56698F ;
}
.profile-link h3{
    font-weight: bold;
font-size: 14px;
line-height: 204.7%;
text-align: justify;
color: #5E5E5E;
}
.profile-link p{
    font-size: 14px;
line-height: 138.2%;
text-align: justify;
color: #5E5E5E;
}
.profile-item{
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px 8px 0px 8px;
    height: 100%;
  
}
.profile-nav{
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
    display: flex;
    justify-content: space-evenly!important;
     margin-bottom: 3rem;
}
.profile-pills{
    padding: 2rem 2rem 6rem 2rem !important;
   
}
.pay-btn{
    text-align: right;
}
.prof-title{
    padding-top: 2rem!important;
     padding-bottom: 0.5rem!important;
    padding-left: 0!important
}
.prof-title span{
font-size: 11px;
line-height: 138.2%;
color: #56698F;
}
.prof-title p{
font-size: 11px;
line-height: 138.2%;
color: #000;
}
.prof-cab h1{
    font-weight: bold;
font-size: 30px;
line-height: 29px;
display: flex;
align-items: center;
color: #56698F;
padding-bottom: 2rem
}
.profile-inner{
    padding-top: 1rem
}
.btn-to-dropdown{
    padding: 0 !important;
    font-size: 16px !important;
    line-height: 138.2% !important;
    color: #5E5E5E !important;
    font-weight: bold !important;
}
.orders-inner {
    padding-left: 40px;
}
.orders-inner h1{
    font-weight: bold;
    font-size: 18px;
    line-height: 138.2%;
    color: #56698F;
    margin-bottom: 6px;
}
.profile-table th{
    font-size: 16px;
    line-height: 138.2%;
    color: #5E5E5E;
}
.table-title{
    background-color:#F5F5F5 ;
}
.table-title th{
    font-weight: bold;
    border: none !important;
}
.table-body td{
    border-bottom: 1px solid #dee2e6 !important;
    border-top: none !important;
}
.table-body th{
    border-bottom: 1px solid #dee2e6 !important;
    border-top: none !important;
}
.favorite-panel{
    padding: 20px ;
}
.change-btn{
    background: #FECC00;
    border-radius: 8px;
        border: none;
        font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    color: #FFFFFF;
        padding: 1rem 3rem;
}

.modal-dialog {
    max-width: 700px !important;
}
.close-btn{
    background: #FECC00 !important;
    border-radius: 8px !important;
    border: none !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 13px;
    color: #FFFFFF !important;
    padding: 1rem 3rem;
}
.close-btn:focus{
    outline: none;
}
.profile-modal{
    justify-content: center !important;
    border: none !important;
    padding-top: 0 !important;
}
@media screen and (max-width:576px){
    .orders-item{
        flex-direction: column;
        
    }
    .order-btn{
        flex-direction: column;
        text-align: center
    }
    .pay-btn{
        text-align: center!important;
        margin: 1rem 0;
    }
    .orders-item{
        padding-right: 0!important
    }
    .orders-panel{
        margin: 0.5rem!important;
    }
    .cansel-btn{
        text-align: center;
    }
    .bonuses{
        flex-direction: column;
    }
    .obmen{
        margin-bottom: 1.5rem;
    }
    .bonus-img{
        margin-bottom: 1.5rem
    }
    .count-bonus{
        margin-bottom: 1.5rem
    }
    .balans h2{
        text-align: center!important;
    }
    .profile-link input{
        width: 100%;
    }

}

@media screen and (min-width:768px) and (max-width:1024px){
    .order-btn{
        flex-direction: column;
        text-align: center
    }
    .pay-btn{
        text-align: center!important;
          margin: 1rem 0;
    }
    .cansel-btn{
        text-align: center;
    }
}