.reg-title h1{
    font-weight: bold;
font-size: 30px;
line-height: 29px;
color: #56698F;
}

.reg-form{
    margin-bottom: 38px;
    position: relative;
}
.toggle-password{
    position: absolute;
    right: 1rem;
    top: 2.2rem;
}
.reg-form h2{
    font-size: 16px;
line-height: 108.7%;
color: #5E5E5E;
margin-left: 5px
}
.reg-form input{
    outline: none;
    background: #F9F9F9;
box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.077845);
border-radius: 20px;
border: none;
    width: 100%;
    padding: 5px 15px
}

.reg-form input::placeholder{
font-size: 11px;
line-height: 13px;
color: #B3B3B3;
}
.reg-dropdown{
    background: #F9F9F9;
box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.0778245);
border-radius: 20px;
    padding: 3px 15px;
    position: relative;
}
.reg-filter{
    width: 100%;
    text-align: left!important;
}
.reg-filter::after{
    content: '';
   position: absolute;
    border: 4px solid;
    border-color: #56698F transparent  transparent transparent ;
    right: 1.5rem;
    top: 0.8rem;
}
.reg-dropdown a{
    font-size: 11px;
line-height: 13px;
color: #333333;

}
.menu-dropdown{
    width: 93%;
}
.reg-form-btn{
    justify-content: center;
}
.reg-button{
    text-align: right;
  
}
.reg-button button{
      background: #FECC00;
border-radius: 8px;
    border: none;
    font-weight: bold;
font-size: 14px;
line-height: 13px;
color: #FFFFFF;
    padding: 1rem 3rem;
}
.reg-button button:hover{
    background: #F3B003;
}
.author-btn button{
background: #56698F;
border-radius: 8px;
border: none;
font-weight: bold;
font-size: 14px;
line-height: 13px;
padding: 1rem 4rem;
}
.author-btn button>a{
color: #FFFFFF !important;
}
.author-btn button:hover{
    background-color: rgb(56, 82, 136);
}
.author-btn{
    background-color: #56698F;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 243px;
}
.author-btn a{
    border-radius: 8px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    line-height: 13px;
    
}
.author-btn:hover{
    background-color: rgb(56, 82, 136);
    color: #fff;
}
.author-btn a:hover{
    color: #fff;
}
.reg-form p{
font-weight: 300;
font-size: 12px;
line-height: 14px;
color: #56698F;
text-align: center; 
margin-top: 5px
}
.reg-form-btn{
    align-items: center;
}
.reg-button button:focus{
    outline: none;
}
.author-btn button:focus{
    outline: none;
}
.registration{
    background-color: #F9F9F9;
    padding-top: 60px;
    padding-bottom: 47px;
}
.reg-row{
    background-color: #fff;
    padding: 49px 61px 50px 82px;
    background: #FFFFFF;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
border-radius: 8px;
    margin: 21px 0 0 0;
}
.password-form{
    position: relative;
}
.password-form span{
    position: absolute;
    top: 2.2rem;
    right: 1.5rem
}
.reg-form select{
-webkit-appearance: none;
-moz-appearance: none;
position: relative;
height: 38px;
width: 100%;
padding: 5px 15px;
outline: none;
background: #F9F9F9;
box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.077845);
border-radius: 20px;
border: none;
font-size: 11px;
line-height: 13px;
color: #333333;
background-image: url(../../../images/icons/dropdown.png);
background-repeat: no-repeat;
background-position-x: 91%;
background-position-y: center;
}

.reg-form select::before{
    content: '121';
    position: absolute;
    border: 4px solid;
    border-color: #56698F transparent  transparent transparent ;
    right: 1.5rem;
    top: 0.8rem;
}

@media screen and (max-width:576px){
    .reg-row{
        padding:2rem  1rem
    }
    .reg-form{
        margin-bottom: 15px
    }
    .reg-form-btn{
        flex-direction: column
    }
    .reg-button{
        margin-bottom: 10px;
    }
    .reg-button button{
        padding: 1rem 2rem;
        width: 100%;
    }
    .registration{
        padding: 2rem 1rem
    }
    .author-btn button{
     padding: 1rem 2rem;
        width: 100%;
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .reg-button button{
        padding: 1rem 2rem;
    }
    
    .author-btn button{
     padding: 1rem 3rem!important;
    }
}