.search-page{
    background-color: #F9F9F9;
    padding: 54px 0 203px 0;
}
.search-content{
    background-color: #fff;
    padding: 66px ;
}
.search-title{
    display: flex;
    align-items: baseline;
}
.search-title h1{
    font-weight: bold;
    font-size: 30px;
    line-height: 29px;
    color: #56698F;
}
.search-title h2{
    color: #FECC00;
    font-size: 24px;
    margin-left: 10px;
}
.search-info{
    margin-top: 30px;
}
.search-info-title{
    color: #FECC00;
}
.search-info-title:hover{
    color: #FECC00;
}
.search-info-title>i{
    margin-right: 10px;
}
.search-info p{
    font-size: 13px;
    line-height: 138.2%;
    color: #56698F;
    padding-bottom: 1.5rem;
}
.read-continue{
    color: #FECC00 !important;
}