.slick-prev:before
{
    content: '';
    width: 25px;
    height: 50px;
    background: url(../../../images/icons/prev.png)!important;
    position: absolute;
    background-size: cover!important;
        left:0;
        
}
.slick-next:before
{
    content: '';
    width: 25px;
    height: 50px;
    background: url(../../../images/icons/next.png)!important;
    position: absolute;
    background-size: cover!important;
        left:0;
}

.slick-dots li button:before
{
    font-size: 50px !important;
    line-height: 20px;
    color: #fff!important;

}
.slick-dots li.slick-active button:before
{
    color: yellow!important;
}

.slick-dots
{
    bottom:20px!important;
    color: #fff;
}

.slick-prev:before,
.slick-next:before
{
    font-size: 60px !important;
    opacity: .75;
    color: yellow!important;
}

.slick-prev
{
    left: 10%!important;
        z-index: 9!important;
}
[dir='rtl'] .slick-prev
{
    right:0;
    left: auto;
}
.slick-prev:before
{
    content: '';
}
[dir='rtl'] .slick-prev:before
{
    content: '';
}

.slick-next
{
    right:10%!important;
}
.slick-next:before
{
    content: '';
}
[dir='rtl'] .slick-next:before
{
    content: '';
}
/* .owl-prev{
    position: absolute !important;
    left: 16px !important;
    font-size: 60px !important;
    top: -33% !important;
    color: #FECC00 !important;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled{
    display: block !important;
} */


.mob-product-slider .slick-prev:before {
    display: none !important;
}
.mob-product-slider .slick-next:before{
    display: none !important;
}