.error-title {
    color       : #13357e;
    font-size   : 100px;
    font-family : 'Roboto-Bold', sans-serif;
}

.error-page {
    justify-content : center;
    align-items     : center;
}

.bold-text {
    font-size     : 20px;
    color         : #333333;
    font-family   : 'Roboto-Bold', sans-serif;
    line-height   : 22px;
    margin-bottom : 20px;
}

.common-text {
    font-size   : 20px;
    font-family : 'Roboto-regular', sans-serif;
    color       : #666666;
    line-height : 22px;
    text-align  : center;
}

.common-text a {
    font-size   : 20px;
    font-family : 'Roboto-regular', sans-serif;
    color       : #13357e;
    line-height : 22px;
}

.error-page .header-logo__title, .error-page .header-logo__text {
    color : #13357e;
}

.help-block {
    display: none;
}



#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: #FECC00
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: #FECC00;
}

a{text-decoration: none; color:#000!important}
a:hover{text-decoration: none; color:#FECC00!important}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

  .navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    /*left:-100%;*/
    left:-10rem; /* 10rem is the min-width of dropdown-menu */
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 

.dropdown-menu-right{transform: translate3d(174px, -30px, 0px)!important;}

  body{background: #fbfbfb!important}

.collapse .collapse-main .e-list{
    background-color: #000;
}